/* Botão de Voltar ao Topo */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.3s ease,
        visibility 0.3s ease,
        background-color 0.3s ease;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-to-top:hover {
    background-color: var(--cor-secundaria);
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top i {
    font-size: 1.5rem;
}
